html {
    touch-action: manipulation;
}

body {
    background-image: url(../images/bgImg9.jpg);
}

#main-container {
    width: 700px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
}

#title-area {
    color: orange;
    font-size: 2.5em;
}

#subtitle-area {
    font-size: 1.3em;
}

#life-area {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    margin: 5px 40px;

    img {
        width: 3.5%;
        padding: 0 5px;
    }
}

#left-panel,
#right-panel {
    display: inline-block;
}

#left-panel {
    img {
        margin: 2px 5px;
    }
}

#right-panel {
    float: right;
    font-size: 1.2em;

    div {
        margin: 10px 0;
    }

    #message-area {
        width: 217.75px;
    }

    #reset-button-area {
        margin-top: 250px;
    }
}

#reset-button {
    padding: 2px 20px;
    font-weight: bold;
}

.hit {
    color: red;
}

.miss {
    color: blue;
}

.gray-out {
    filter: brightness(50%);
}
