html {
    touch-action: manipulation;
}

body {
    background-image: url(../images/bgImg9.jpg);
}

#main-container {
    width: 100%;
    height: 100%;
    position: relative;
    top: 60px;
    text-align: center;
    font-weight: bold;
}

#life-area {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    margin: 5px 40px;

    img {
        width: 3.5%;
        padding: 0 5px;
    }
}

#card-area {
    img {
        margin: 2px 5px;
    }
}

.hit {
    color: red;
}

.miss {
    color: blue;
}

.gray-out {
    filter: brightness(50%);
}
